<div id="mainDiv">
  <h2>Update task</h2>
  <div class="form-container">
    <form id="descriptionForm" (ngSubmit)="onSubmit()">
      <input type="text" id="taskId" name="taskId" [(ngModel)]="taskId" maxlength="50" required disabled>
      <textarea id="taskDescription" name="taskDescription" placeholder="Description (1-250)" [(ngModel)]="taskDescription" maxlength="250" required></textarea>
      <button type="submit" [disabled]="isLoading">
        <span *ngIf="!isLoading">Confirm</span>
        <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
      </button>
    </form>
  </div>
</div>
